@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src:
    url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src:
    url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src:
    url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: 400;
}
